body {
  background: black;
  color: white;
  font-family: monospace;
  text-align: center;
}

#room img {
  width: 400px;
  filter: brightness(0.9);
}

#text {
  margin-top: 20px;
  height: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: #111;
  color: white;
  border: 1px solid white;
}
